---
layout: default
---

<img src="/assets/resources/BGW PhotoBannerLargel.jpg" />
<div class="content">
	<h1>What is Boston Game Dev Week?</h1>
	<p>Boston Gamedev Week is a slate of events focused on learning, networking, and fun for game developers coinciding with PAX East. Coming anyways? Get in a little early and make some friends before you hit the showroom floor.</p>

    <div class="ml-embedded second-class" data-form="xFM7At" style="width: 100%;"></div>

	<h1>Schedule</h1>
	{%- capture processed_now_date -%}
        {{ "now" | date: '%s' }}
    {%- endcapture -%}
    {%- capture processed_week_start_date -%}
        {{ site.2026_week_start | date: '%s' }}
    {%- endcapture -%}
    {% for day_num in (0..5) %}
		{% assign current_day = site.2026_week_start | add_day: day_num %}
        {% assign pax_day = day_num | minus: site.2026_pax_day_num %}
    	{% assign events_for_day = site.events | between_dates: current_day %}
    	{% if events_for_day and events_for_day.size != 0 %}
            <div class="section">
        		<div class="section-header">{{ current_day | date: "%A, %B %-d" }}</div>
                {% if pax_day == 0 %}
                    <div class="pax-day">(PAX Setup)</div>
                {% elsif pax_day > 0 %}
                    <div class="pax-day">(PAX Day {{ pax_day }})</div>
                {% endif %}
        		<div class="event-thumbnail-list element area no-select">
    		    {% for event in events_for_day %}
    		        {%- capture processed_start_date -%}
    		            {{ event.date | date: "%s" }}
    		        {%- endcapture -%}

    				{%- capture processed_end_date -%}
    		            {{ event.end_date | date: "%s" }}
    		        {%- endcapture -%}

    	            {% include elements/event-thumbnail.html event=event day=current_day %}
    		    {% endfor %}
    	        </div>
            </div>
	    {% endif %}
    {% endfor %}

    <div class="join-us">
    	<h1>Join Us</h1>
    	<p>To stay up to date as more events are announced, <a href="https://discord.gg/ZYV4PpJcsR">join our Discord</a>. There should be more gamedev goodness popping up from learnings to casual hangs. (All the cool kids are doing it.)
    </div>

    <div class="about">
    	<h1>About</h1>
        <p>Boston Gamedev Week is hosted by Boston Game Dev, a 501(c)3 non-profit dedicated to supporting Boston-area game developers made up of three organizations:</p>

        <p><strong>Boston Post Mortem</strong> is Boston’s official chapter of the International Game Developer’s Association. BPM has been doing game development meetups in the greater Boston area since the turn of the century. BPM hosts all manner of events, including talks from industry professionals, portfolio reviews, or sometimes just chill networking nights to chat with fellow game developers.

        <p><strong>Boston Indies</strong> is a community of independent game developers in Massachusetts supporting hobbyists, professionals, artists, academics, and anyone else who's excited about making games.</p>

        <p><strong>Game Audio Boston</strong> is the place for all game audio professionals in New England and those aspiring to become ones to meet, discuss, share knowledge, and grow together. As part of the Boston Game Dev group, we host monthly virtual and in-person meetups with guest speakers.</p>

        <p>If you'd like to help Boston Game Dev to support efforts like this, you can <a href="https://secure.givelively.org/donate/boston-game-dev-inc/boston-game-dev">make a tax-deductible donation.</a> This, along with all our Boston Game Dev events, is run entirely by volunteers relying on donations such as this.</p>
    </div>

    <div class="sponsorships">
        <h1>Sponsored By</h1>
        <a href="http://www.gamemaker.io"><img class="sponsor" src="/assets/resources/logos/GameMaker_Logo_BlackTransparent.png" /></a>
        <a href="http://www.devolverdigital.com"><img class="sponsor" src="/assets/resources/logos/Devolver_primary_logo_red_text_for_light_BG.png" /></a>
        <a href="https://www.audiokinetic.com"><img class="sponsor" src="/assets/resources/logos/audiokinetic-logo.png" /></a>
        <p>If you'd like to sponsor this year's festivities, check out our <a href="https://docs.google.com/presentation/d/1X7G1HKrm5jvrcoVDm0qOC5e-5xT9FmlEl-9U0oA69YA/present?usp=sharing">Sponsorship Deck</a>.
    </div>
</div>
