@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333977;
  background-color: #1e90ff;
  background: url("assets/resources/BGD_tileable_background_02.png");
  background-repeat: repeat;
  background-position: top;
  background-size: 620px 620px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -1024px;
  }
}
h1, h2, h3, .section-header {
  font-family: "rl aqva", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 5px;
}

.section {
  position: relative;
  width: 100%;
}

.section-header {
  display: inline;
  font-size: 1.25em;
  margin-bottom: 0;
}

.pax-day {
  display: inline;
  position: absolute;
  right: 0;
  font-size: 1rem;
  font-weight: 700;
}

a {
  color: #d52991;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 4rem;
}

.container {
  width: 1080px;
  background-color: #f0f0f0;
}
@media screen and (max-width: 1152px) {
  .container {
    width: 100%;
  }
}

.banner {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.banner-information {
  background-color: #f0e921;
  color: #231f20;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.content {
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1152px) {
  .content {
    padding: 2rem;
  }
}

.spacer {
  padding-top: 2rem;
}

.element {
  margin-bottom: 2rem;
}

.area {
  background-color: #f0f0f0;
  border: #15599b solid 4px;
  box-shadow: 6px 6px 0px 2px #f0e921;
  padding: 1rem;
}

.bullet-point-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bullet-point {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 2rem;
}

.bullet-point img {
  height: 2rem;
}

.bullet-point a {
  color: white;
}

.bullet-point p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button, .button-social {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  font-family: "rl aqva", sans-serif;
  border-radius: 99999px;
  color: #231f20;
  background-color: #f0e921;
  text-decoration: none;
  padding: 2rem;
  font-size: 1.5rem;
}

.button img {
  height: auto;
}

.button-social {
  margin-left: auto;
  margin-right: auto;
}

.button-social img {
  height: 2.5rem;
}

.event-thumbnail-list {
  grid-template-columns: repeat(2, minmax(min(10px, 100%), 1fr));
  display: grid;
  gap: 0.75rem;
}
@media screen and (max-width: 1152px) {
  .event-thumbnail-list {
    grid-template-columns: repeat(1, minmax(min(10px, 100%), 1fr));
  }
}

.event-thumbnail {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.event-thumbnail img {
  border-radius: 1rem 0rem 0rem 1rem;
  height: 110px;
  width: auto;
}
@media screen and (max-width: 1152px) {
  .event-thumbnail img {
    height: 75px;
  }
}

.event-thumbnail-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: #231f20;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.event-thumbnail-information-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  height: 100%;
  padding: 0px 10px;
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: #f0e921;
}

.event-thumbnail-information-right {
  display: flex;
  align-items: flex-end;
}

.event-thumbnail-title {
  font-family: "rl aqva", sans-serif;
  font-size: 1.1rem;
}

.event-thumbnail-date {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: bold;
}

.event-thumbnail-date img {
  border-radius: 0;
  height: 2.5rem;
}

.content thead {
  font-size: 1.5em;
  text-align: left;
}

.content table {
  border: solid 2px #333977;
  border-radius: 3px;
  border-collapse: collapse;
}

.content tbody {
  border: solid 1px black;
}

.content td:first-child, .content th:first-child {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-content, .footer-content {
  color: white;
  background-color: #333977;
  min-height: 50px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  filter: drop-shadow(2px 4px 6px black);
}

.footer-content {
  padding-bottom: 2rem;
  filter: drop-shadow(2px -4px 6px black);
}

.header-inner {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
}

.header-logo {
  width: auto;
  height: 100px;
}

.header-content p {
  margin: 0;
  font-size: 1.08rem;
}

.navbar {
  flex: 1;
}

.nav-item {
  font-size: 1.2em;
  justify-self: right;
}

.nav-item a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.nav-item a:hover {
  text-shadow: -1px -5px 0 #464c8b, 1px -5px 0 #464c8b, -1px 5px 0 #464c8b, -1px 5px 0 #464c8b;
}

.footer-socials img {
  width: 3rem;
  margin: 0.75rem;
}

.footer-content a {
  color: #f0e921;
}

.link-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-family: "rl aqva", sans-serif;
  font-size: 1.5rem;
}

#mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  max-width: 100% !important;
  margin-top: 2rem !important;
}

#mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0 !important;
}

#mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4, #mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
  color: #333977 !important;
  text-align: left !important;
  font-family: "rl aqva", sans-serif !important;
  font-weight: bold !important;
}

#mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p, #mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p, #mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent.privacy-policy p {
  color: #333977 !important;
}

#mlb2-25949238.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
  background-color: #333977 !important;
  max-width: 400px !important;
}

.expand {
  transform: scale(1);
  transition: all 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.expand:hover {
  transform: scale(1.075) rotateZ(2.5deg);
}
@media screen and (max-width: 1152px) {
  .expand:hover {
    transform: scale(1) rotateZ(0deg);
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

.material-symbols-48 {
  font-size: 48px !important;
}

.material-symbols-24 {
  font-size: 24px !important;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 24;
}

.material-symbols-20 {
  font-size: 20px !important;
}

/*# sourceMappingURL=style.css.map */