html
{
    font-size: 16px;
}

body
{
    font-family: $fontBody;
    color: $colorBlue;
    
    background-color: #1e90ff;
    background: url('assets/resources/BGD_tileable_background_02.png');
    background-repeat: repeat;
    background-position: top;
    background-size: 620px 620px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
}

@keyframes animatedBackground
{
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0px -1024px;
    }
}

h1, h2, h3, .section-header
{
    font-family: $fontHeader;
    font-weight: bold;

    margin-top: $spacingHalf;
    margin-bottom: $spacingQuarter;
}

.subtitle
{
    margin-bottom: 5px;
}

.section
{
    position: relative;

    width: 100%;
}

.section-header
{
    display: inline;

    font-size: 1.25em;
    margin-bottom: 0;
}

.pax-day
{
    display: inline;

    position: absolute;
    right: 0;

    font-size: 1.0rem;
    font-weight: 700;
}

a
{
    color: $colorPink;
}

img
{
    max-width: 100%;
}

.wrapper
{
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: $spacing;
}

.container
{
    width: 1080px;

    background-color: $colorOffWhite;

    @include mobile
    {
        width: 100%;
    }
}

.banner
{
    padding-top: $spacingHalf;
    
    display: flex;
    flex-direction: column;
}

.banner-information
{
    background-color: $colorYellow;
    color: $colorBlack;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacingQuarter;
}

.content
{    
    padding: $spacing;

    padding-top: $spacingHalf;
    padding-bottom: $spacingHalf;

    @include mobile
    {
        padding: $spacingHalf;
    }
}

.spacer
{
    padding-top: $spacingHalf;
}

.element
{
    margin-bottom: $spacingHalf;
}

.area
{
    background-color: $colorOffWhite;

    border: #15599b solid 4px;
    box-shadow: 6px 6px 0px 2px #f0e921;

    padding: $spacingQuarter;
}

.sponsorships
{
    text-align: center;
}

.sponsorships .sponsor
{
    max-width: 500px;
    max-height: 150px;
    padding: 20px;
}