<a href="{{ include.event.url }}" class="event-thumbnail expand no-select">
    <div class="event-thumbnail-information">
        {% assign image_url = "assets/banners/" | append: include.event.banner %}
        <img src="{{ image_url | absolute_url }}">
        <div class="event-thumbnail-information-left">
            <div class="event-thumbnail-title">{{ include.event.title | upcase }}</div>
            <div class="event-thumbnail-date">
                <span class="material-symbols-outlined material-symbols-20">
                    schedule
                </span>
		{{ include.event.date | date: "%I:%M %P" }} - {{ include.event.end_date | date: "%I:%M %P" }}</div>
        </div>
    </div>
</a>
