.event-thumbnail-list
{
    grid-template-columns: repeat(2, minmax(min(10px, 100%), 1fr));
    display: grid;
    gap: .75rem;

    @include mobile
    {
        grid-template-columns: repeat(1, minmax(min(10px, 100%), 1fr));
    }
}

.event-thumbnail
{
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
}

.event-thumbnail .event-banner
{
    border-radius: 1rem 0rem 0rem 1rem;
    height: 110px;
    width: auto;
    max-width: fit-content;

    @include mobile
    {
        height: 75px;
    }
}

.event-thumbnail .event-ticket
{
    position: absolute;
    left: 0;
    bottom: 0;
}

.event-thumbnail .pax
{
    filter: invert(20%) sepia(49%) saturate(5682%) hue-rotate(310deg) brightness(80%) contrast(100%) drop-shadow(2px 4px 6px black);
}

.event-thumbnail .ticketed
{
    filter: invert(17%) sepia(18%) saturate(1741%) hue-rotate(-349deg) brightness(95%) contrast(132%) drop-shadow(2px 4px 6px black);
}

.event-thumbnail-image-container
{
    border-radius: 1rem 0rem 0rem 1rem;
    height: 110px;
    max-width: 100%;

    @include mobile
    {
        height: 75px;
    }
}

.event-thumbnail-information
{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: $spacingQuarter;

    color: $colorBlack;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.event-thumbnail-information-left
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: $spacingQuarter;
    height: 100%;
    padding: 0px 10px;

    border-radius: 0rem 1rem 1rem 0rem;

    background-color: $colorYellow;

    @include mobile
    {
        height: 75px;
        gap: 0.2rem;
    }
}

.event-thumbnail-information-right
{
    display: flex;
    align-items: flex-end;
}

.event-thumbnail-title
{
    font-family: $fontHeader;
    font-size: 1.1rem;

    @include mobile
    {
        font-size: 0.9rem;
    }
}

.event-thumbnail-date
{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    
    font-weight: bold;

    @include mobile
    {
        font-size: 0.8rem;
    }
}

.event-thumbnail-date img
{
    border-radius: 0;
    height: 2.5rem;
}

.content thead
{
    font-size: 1.5em;
    text-align: left;
}

.content table
{
    border: solid 2px $colorBlue;
    border-radius: 3px;
    border-collapse: collapse;
}

.content tbody
{
    border: solid 1px black;
}

.content td:first-child, .content th:first-child
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}