.header-content, .footer-content
{
    color: white;
    background-color: $colorBlue;

    min-height: 50px;
    padding: $spacingQuarter;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content
{
    filter: drop-shadow(2px 4px 6px black);
}

.footer-content
{
    padding-bottom: $spacingHalf;

    filter: drop-shadow(2px -4px 6px black);
}

.header-inner
{
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
}

.header-logo
{
    width: auto;
    height: 100px;
}

.header-content p
{
    margin: 0;
    font-size: 1.08rem;
}

.navbar
{
    flex: 1;
}

.nav-item
{
    font-size: 1.2em;
    justify-self: right;
}

.nav-item a
{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.nav-item a:hover
{
    text-shadow: -1px -5px 0 #464c8b, 1px -5px 0 #464c8b, -1px 5px 0 #464c8b, -1px 5px 0 #464c8b;
}

.footer-socials img
{
    width: 3rem;
    margin: 0.75rem;
}

.footer-content a
{
    color: $colorYellow;
}
